body

{
     background-image:url(tlo.jpg)
}

{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Abril Fatface', cursive;

}

h2

{
    font-size: 20pt;

    
}


b
{

    font-family: 'Abril Fatface', cursive;
}
