body



{
    background-color: rgb(43, 20, 20);
    color: white;
    font-family: 'Abril Fatface', cursive;

}

h2

{
    font-size: 22pt;

    
}


b
{

    font-family: 'Abril Fatface', cursive;
}
{
     background-image:url(tlo.jpg)
}
